*{
    margin:0px;

}
div{
    height:100px;
    width:100px;
    border:2px solid black;
    background-color:aquamarine;
     padding:50px 10px 20px 30px; 
   /* padding-inline: 60px;
    padding-inline-end: 30px;
    padding-inline-start: 20px;
    padding-block: 10px;;*/

}