ul{
    background-color:pink;
    display:flex;
    justify-content:space-evenly;
}
a{
    text-decoration:none;
}
li{
    list-style-type:none;
}
.outer{
    height:200px;
    width:300px;
    background-color:blueviolet;
    display:flex;
    justify-content:center;
     align-items:center; 


}
.inner{
    height:80px;
    width:80px;
    background-color:rgb(30, 213, 60);
}
