div{
    height:200px;
    width:200px;
    border:10px solid rgb(33, 145, 188);
    border-radius:50%;
    border-top:10px solid rgb(128, 234, 162);
    text-align:center;
    animation:color 1s ease-in-out 2s infinite normal;
    position:absolute;
    left:400px;
    top:100px;
}
@keyframes color{
    from{

        transform: rotate(0deg);
    }

    to{
        
        transform: rotate(360deg);
        
    }
    
}
